<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Profesor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div class="flex items-center py-4">
                        <span class="font-semibold text-gray-500 text-lg">Universidad</span>
                    </div>
                </div>
                <div class="flex items-center space-x-3">
                    <a href="{% url 'logout_profesor' %}" 
                       class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white rounded transition duration-300">
                        Cerrar Sesión
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-10">
        <h1 class="text-2xl font-bold mb-6">Bienvenido, {{ profesor.nombreCompleto }}</h1>
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-xl font-bold mb-4">Cursos Asignados</h2>
            <ul class="space-y-2">
                {% for curso in cursos %}
                    <li>
                        <a href="{% url 'lista_estudiantes_curso' curso.codigo %}" class="text-blue-500 hover:text-blue-600">{{ curso.nombre }}</a>
                    </li>
                {% empty %}
                    <li>No tienes cursos asignados.</li>
                {% endfor %}
            </ul>
            <div class="mt-4">
                <a href="{% url 'crear_chat' %}" class="sidebar-item block p-2 rounded text-gray-600 hover:bg-gray-100">
                    Crear un nuevo chat
                </a>
            </div>
        </div>
    </div>
</body>
</html>